#wrapper {
background: lightpink;
    width:500px;
border-style: solid;
    border-color: plum;
  text-align: center;

}

#wrapper h2{
    font-size: 30px;
    color: palevioletred;
    font-family: FontomasCustomRegular fantasy;

}

label{
    color: peru;
    font-size: 20px;
    font-family: FontomasCustomRegular fantasy;
    }

[type="submit"]{
    color: darkgrey;
    font-size: larger;
    font-family: FontomasCustomRegular fantasy;
}

form p {
    list-style: none;
    margin-bottom: 10px;
    margin-top: 5px;
}

