.header{
    background-color: plum;
}

.menu li{
    list-style-type: none;
    display: inline;
    color: darkgrey;
    background-color: plum;
    font-style: italic;
    text-align: center;
    font-size: 30px;

}

button {
    text-align: center;
    color: thistle;
    background-color: darkgrey;
    border: solid;
}

.menu a{
     color: darkgrey;
 }

.menu button{
    text-align: center;
    color: darkgrey;
    background-color: plum;
    font-size: 25px;
}

