.header{
    font-family: calibri;
    background-color: plum;
    color: darkgrey;
    margin:  auto 50px;

}




.nav .nav-tab li{

    display: inline;

    background-color: plum;
    font-style: italic;
    text-align: center;
    font-size: 30px;

}

.nav .nav-tab li a{
    color: darkgrey;
}

 button {
    text-align: center;
    color: thistle;
    background-color: darkgrey;
    border: solid;
}



.nav .nav-tab li button{
    text-align: center;
    color: darkgrey;
    background-color: plum;
    font-size: 25px;
}

