<!-- views/footer.ejs -->

<div class="row">
    <div class="col-md-3">
        <h1>Home-lady's shop</h1>

        <p>////jhgjfgdfdas.gdrahgf,j</p>
    </div>
    <div class="col-md-3">
        <h2>Information</h2>
        <ul>
            <li><a href="#">Sale</a></li>
            <li><a href="#">New goods</a></li>
            <li><a href="#">Sale</a></li>
            <li><a href="#">Sale</a></li>
            <li><a href="#">Sale</a></li>
            <li><a href="#">Sale</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>About</h2>
        <ul>
            <li><a href="#">Sale</a></li>
            <li><a href="#">Sale</a></li>
            <li><a href="#">Sale</a></li>
            <li><a href="#">Sale</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Contacts</h2>
        <ul>
            <li><a href="#">Sale</a></li>
            <li><a href="#">Sale</a></li>
            <li><a href="#">Sale</a></li>
            <li><a href="#">Sale</a></li>
        </ul>
    </div>

</div>
<p class="text-center text-muted">© Copyright 20155 The Awesome People</p>