
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Entrance</title>
    <link rel="stylesheet" href="../SignIn.css" type="SignIn.js">
</head>

<body>
<div id="wrapper">
<h2>Entrance</h2>
<form action="/usersEnter" method="post">
   <label> Email</label>
   <p><input type="text" name="email"></p><br>
   <label>Password</label>
   <p><input type="password" name="password"></p><br>
    <p><input type="submit" name="submit"></p><br>
    <p><a href="registrationForm.html" target="popup" onclick="window.open('registrationForm.html', 'registration form', 'width=600 height=500')">Registration</a></p>
</form>
</div>
</body>
</html>
